<h2 class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:truncate pb-8">
    Toggle
</h2>

<!-- This example requires Tailwind CSS v2.0+ -->
<div class="flex justify-between bg-gray-300 p-8 flex-col rounded-lg">
    <div class="flex flex-1">

        <div class="flex-1 min-w-0">
            <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:truncate">
                Basic Toggle
            </h2>
        </div>
        <div class="mt-4 flex md:mt-0 md:ml-4">
            <sc-tw-toggle activeContainerClass="bg-indigo-600"></sc-tw-toggle>
            <span class="ml-3" id="annual-billing-label">
        <span class="text-sm font-medium text-gray-900">Annual billing </span>
        <span class="text-sm text-gray-500">(Save 10%)</span>
      </span>
        </div>
    </div>
</div>
